<header id="main" class="noise">
    <div class="header">
        <div class="header-nav">
            <a href="/">
                <h1>Ether</h1>
            </a>
            <ul class="menu">
                <li><a href="">Commands</a></li>
                <li><a href="">Invite</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
            </ul>
        </div>
        <button class="login">
            Login
        </button>
    </div>
</header>
<div class="header-fixed-spacer"></div>