{% extends 'dashboard/base_guild_dashboard.html' %}
{% load static %}

{% block content %}
    <h1 class="name">Welcome</h1>
    <p class="description">
        Send a message to announce when a member leave or join.
    </p>
    <section>
        <div class="section-title">
            <h1>Send a message when a user join your server</h1>
            <input type="checkbox" role="switch" class="switch" {% if db_guild.logs.join.enabled %} checked {% endif %}>
        </div>
        <div class="section-content">
            <div class="section-param">
                <label for="join-channel">Welcome message channel</label>
                <select name="join channel" id="join-channel">
                    <option value="" selected>
                        # {% if db_guild.logs.join.channel_id %}channel{% else %}🚀 default-channel{% endif %}
                    </option>
                    <option value="" ># other-channel</option>
                    <option value="" ># other-channel</option>
                </select>
            </div>
        </div>
    </section>
{% endblock %}