{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/master.css' %}">
    <link rel="stylesheet" href="{% static 'css/dashboard.css' %}">
    <title>Ether - Discord Bot</title>
</head>
<body>
    <header id="main" class="noise">
        <div class="header">
            <div class="header-nav">
                <a href="/">
                    <h1>Ether</h1>
                </a>
                <ul class="menu">
                    <li><a href="">Commands</a></li>
                    <li><a href="">Invite</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                </ul>
            </div>
            <button class="login">
                Login
            </button>
        </div>
    </header>
    <div class="header-fixed-spacer"></div>

    <div class="guild-picker">
        <h1 class="guild-picker-title">Select a server</h1>
        <div class="guilds">
            {% for guild in guilds %}
                <div class="guild-card noise">
                    <div class="guild-card-top">
                        {% if guild.icon %}
                            <img class="guild-icon" src="https://cdn.discordapp.com/icons/{{ guild.id }}/{{ guild.icon }}.png" alt="guild icon">
                        {% else %}
                            <div class="guild-icon none-icon"></div>
                        {% endif %}
                        <h1>{{ guild.name }}</h1>
                    </div>

                    {% if guild.setup %}
                        <a href="/dashboard/{{ guild.id }}">
                            <button class="guild-btn btn-open">Open</button>
                        </a>
                    {% else %}
                        <a href="https://discord.com/oauth2/authorize?client_id=985100792270819389&scope=bot%20applications.commands&permissions=8&guild_id={{ guild.id }}&response_type=code">
                            <button class="guild-btn btn-setup">Setup</button>
                        </a>
                    {% endif %}
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>