<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../templates/head') %>
    <title>Mochi - Discord bot</title>
    <style>
        a.home {
            color: var(--yellow);
            opacity: 1;
        }
    </style>
</head>
<body class="preload">
    <%- include('../templates/header') %>
</body>
</html>
