.guild-container {
    width: 100%;
    display: flex;
    align-items: center;
    margin: 30px 0 0 0;
    justify-content: center;
    flex-flow: column nowrap;
}

.guild-container > div {
    width: 100%;
    background-color: var(--secondary-color);
    padding: 10px 15px;
    border-radius: 7px;
}

.guild-container > div ~ div {
    margin-top: 20px;
}

.guild-header {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    flex-flow: row nowrap;
}

.guild-header-icon {
    width: 90px;
    height: 90px;
    border-radius: 5px;
}

.guild-header-label {
    margin: 0 0 0 15px;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.guild-header-label span {
    margin: 3px 0;
}

.guild-name {
    font-size: 18px;
    font-weight: 800;
}

.guild-id {
    opacity: 0.5;
    font-size: 12px;
}

.premium {
    margin: 0 10px 0 auto;
}

.premium-btn {
    cursor: pointer;
    padding: 8px 13px;
    border-radius: 5px;
    color: var(--gold);
    background-color: rgba(250, 168, 26, 0.2);
    transition: 0.3s;
}

.premium-btn:hover {
    background-color: rgba(250, 168, 26, 0.3);
}

.guild-dashboard {
    display: flex;
    flex-flow: row wrap;
}

.dash-cat {
    flex: 0 0 50%;
    max-width: 50%;
    width: 100%;
    padding: 10px;
    position: relative;
    box-sizing: border-box;
}

.cat-title {
    font-size: 17px;
    font-weight: 700;
}

.cat-desc {
    margin: 5px 0 10px 0;
    opacity: 0.7;
    font-size: 13px;
}

.dash-cat .input {
    display: flex;
    flex-flow: row nowrap;
}

.dash-cat .input input {
    width: 100%;
    padding: 7px;
    box-sizing: border-box;
    background-color: var(--primary-color);
    border: solid 1px var(--black);
    border-radius: 7px 0 0 7px;
}

.dash-cat .input input:focus {
    outline: none !important;
    border-color: var(--yellow);
}

.dash-cat .input button {
    background-color: var(--blue);
    cursor: pointer;
    padding: 0 15px;
    border-radius: 0 7px 7px 0;
    border: solid 1px var(--black);
    border-left: none;
}

.prefixes-container {
    margin: 10px 0 0 0;
}

.prefix {
    display: flex;
    flex-flow: row wrap;
    padding: 7px;
    background-color: var(--black);
    border-radius: 7px;
    border: solid 1px #000;
}

.prefix ~ .prefix {
    margin: 5px 0 0 0;
}

.delete-prefix {
    background-color: rgba(231, 76, 60, 0.2);
    cursor: pointer;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27px;
    height: 27px;
    margin: 0 0 0 auto;
    transition: 0.3s;
}

.delete-prefix:hover {
    background-color: rgba(231, 76, 60, 0.3);
}

@media screen and (max-width: 640px) {
    .premium {
        display: none;
    }
    .guild-header-icon {
        width: 70px;
        height: 70px;
    }
    .guild-header {
        height: 80px;
        display: flex;
        justify-content: space-evenly;
    }
    .guild-dashboard {
        flex-flow: column wrap;
        align-content: center;
    }
    .dash-cat {
        flex: 0 0 100%;
        max-width: 100%;
        padding: 10px 0;
        width: auto;
        margin: 0 10px;
    }
}

@media screen and (min-width: 641px) {
    .guild-container > div {
        max-width: var(--screen-size);
    }
}

@media screen and (max-width: 1007px) {
    .guild-container {
        max-width: 100vw;
    }
    .guild-container > div {
        width: 100vw;
        padding: 10px 0;
    }
}