:root {
    --screen-size: 1070px;
    --primary-color: #252736;
    --secondary-color: #1E1D2B;
    --green: #4AB884;
    --blue: #2C9DD4;
    --yellow: #FEDA7A;
    --purple: #BB86FC;
    --red: #E74C3C;
    --gold: #FAA81A;
    --white: #FFFFFF;
    --black: #1e1929;
}

html, body {
    margin: 0;
    background-color: var(--primary-color);
}

body * {
    font-family: 'Mukta', sans-serif;
    color: var(--white);
}

a {
    text-decoration: none;
}

button {
    border: none;
}

#toaster {
    position: fixed;
    top: 20px;
    right: 20px;
    display: flex;
    flex-flow: column nowrap;
}

.toast {
    width: 300px;
    max-height: 50px;
    border-radius: 7px;
    display: flex;
    flex-flow: column wrap;
    padding: 20px;
    justify-content: space-around;
}

.toast.success {
    background-color: var(--green);
}

.toast.error {
    background-color: var(--red);
}

.toast ~ .toast {
    margin: 10px 0 0 0;
}