.guilds {
    max-width: 700px;
    margin: 5em auto auto auto;
    display: flex;
    justify-content: center;
    flex-flow: column wrap;
}

.guild {
    display: flex;
    align-items: center;
}

.guild {
    margin: 0 0 8px 0;
    width: 100%;
    padding: 13px 13px;
    transition: 0.3s ease;
    cursor: pointer;
}

.guild:hover {
    background-color: var(--secondary-color);
}

.guild-icon {
    width: 45px;
    border-radius: 100em;
}

.guild-name {
    margin: 0 0 0 10px;
    font-size: 15px;
}

.guild a {
    margin: 0 3px 0 auto;
    height: 100%;
}

.guild a button {
    background-color: var(--blue);
    cursor: pointer;
    padding: 3px 7px;
    height: 100%;
    border-radius: 5px;
}

.owner-icon {
    width: 14px;
    margin: 0 0 0 10px;
}

.owner-icon path {
    color: var(--gold);
}